.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logout{
    padding: 1rem 2rem;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
}
