
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #bbb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  max-width: 100vw;
  background-color: black;
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}